@import './mixin.scss';
.media-container {
  background-color: #fff;
  padding-top: 20px;
  .title {
    margin-left: 10px;
   font-size: 32px;
   font-weight: bold; 
  }
}
.recommend-list {
  display: flex;
  padding: 10px;
  padding-bottom: 30px;
  overflow-x: scroll;
  min-height: 200px;
  .media-list {
    @include media-list;
    display: flex;
    &-row-hd {
      width: 100px;
      height: 100px;
      img{
        width: 100%;
      }
    }
    &-row-bd {
      max-width: 100px;
    }
    &-body-title {
      margin-bottom: 5px;
      overflow: hidden;
      height: 38px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
    }
  }
}